{% comment %} 

theme stylesheet gets added globally

inline styles in html

stylesheet tag (take the styles within it and add it to the head)

this would go above schema and beneath html

you can do the same formatting for js 

{% endcomment %}

{% stylesheet %}
.custom-section {
    background: gray; 
    padding: 60px 0;
}
{% endstylesheet %}

{% javascript %}
alert('hey')
{% endjavascript %}

{% comment %} if you want to access a section with js {% endcomment %}

<script>
    const a = document.querySelector('#shopify-section-{{ section.id }}')
    console.log(a)
</script>

{% comment %} 

this would go above schema and beneath html

can't use liquid within the stylesheet tag (cant access any of the settings)

to get around that you need to inline them in html

{% endcomment %}

{%  for block in section.blocks %}
    {% if block.type == 'paragraph' %}
    <p>{{ block.settings.text }}</p>
    {% elsif block.type == '@app' %}
        {% render block %}
    {% endif %}
{% endfor %}

<h1 style="color: {{ section.settings.color }}"> {{ section.settings.text }}</h1>

{%  for block in section.blocks %}
    {%  if block.type == 'social' %}
    <a href="{{ block.settings.url }}">{{ block.settings }}</a>
    {% endif %}
{% endfor %}


{% comment %} 
 
settings for styling (look at settings)
 
{% endcomment %}

{% schema %}
{
    "name": "Custom Section", 
    "settings:": [
        {
        "type": "text",
        "id": "text",
        "label": "Text"
        }, 
        {
            "type": "color",
            "id": "color",
            "label": "Text color", 
            "default": "#00000"
            }
    ],
    "presets": [
        {
            "name": "Default custom section",
            "settings": {
            "text": "default text"
            },
            "blocks": [
                {
            "type": "paragraph"
                }, 
                {
                "type": "social", 
                "settings": {
                "url": "https://twitter.com"}, 
                "text": "Twitter"
                }
        ]
        }, 
        {"name": "Red custom section" ,
        "settings": {
            "text": "red text"
            }
        },
    ], 
    "tag": "header", 
    "class": "custom-section",
    "limit": 1,
    "blocks": [
        {
        "type": "@app"
        },
        {
            "name": "Social Link", 
            "type": "social", 
            "settings": [
                {
                "type": "text", 
                "id" : "text", 
                "label": "Text"
            }, 
            {
                "type": "url", 
                "id" : "url", 
                "label": "URL"
            }, 
            ]
        }, 
        [
            {
                "name": "Paragraph", 
                "type": "paragraph", 
                "settings": [
                    {
                    "type": "textarea", 
                    "id" : "text", 
                    "label": "Text"
                }
                ]
            }
        ]
    ], 
    "max_blocks": 3,
    "locales": {
        "en": {
        "text": "Hello"
        }, 
        "es": {
        "text": "Hola"
        }
    },

    "enabled_on": {
    "templates": ["page"]
    }, 
    "disabled_on": {
    "templates": ["home"]
    }
}
{% endschema %}